@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
body{
    width: 100%;
    height: 100%;
    background-color: #f1f2f6;
    
    font-family: 'Roboto Slab', serif;
}
body .App{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .4);
    background-color: #343a40;
}

.header .title{
    font-size: 40px;
    letter-spacing: 2rem;
    color: #d9d9d9;
    text-shadow: 2px 2px 0 rgba(255, 0, 0, 0.5);
}
.caption{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.caption .captionArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.caption .captionArea p{
    padding: 1rem 0;
    font-size: 18px;
    letter-spacing: 1.3px;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
    text-indent: 3rem;
    line-height: 2rem;
}
.caption .filterArea{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.caption .filterArea .filterInput{
    width: 60%;
    height: 2rem;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    transition: 400ms all;
    box-shadow: 0px 5px 20px  rgba(0, 0, 0, .3);
    font-size: 18px;
}
.caption .filterArea .filterInput:focus{
    box-shadow: 5px 5px 0px  rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.brands{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.brands .card{
    width: 30rem;
    height: 20rem;
    background-position: center !important;
    object-fit: cover !important;
    background-repeat: no-repeat !important;
    margin: .5rem;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    filter: blur(1px);
    transition: 600ms all;
}
.brands .card:hover{
    filter: blur(0);
    transition: 600ms all;
}
.brands .card:hover .logo{
    opacity: 1;
    transform: translate(0);
    transition: 300ms all;
}
.brands .card .logo{
   filter: drop-shadow(1px 2px 0 rgba(255,255,255,.9));
    height: 30%;
    opacity: 0;
    transition: 600ms all;
    transform: translate(-100px);
    width: 40%;
}
.width{
    width: 80%;
    margin-top: 5rem;
    height: 100%;
}
.width.filter{
    padding-bottom: 3rem;
    border-bottom: 2px solid #dedede;
}